body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.grid-container, .container-2, .container-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
    padding: 20px;
}

.grid-item, .grid-item-2, .grid-item-3 {
    background-color: #bdf5db;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover, .grid-item-2:hover, .grid-item-3:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

ul li {
    margin: 10px 0;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
button a{
    color:white;
    text-decoration: none;
}