body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color:slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.supplements-section {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 50px 0;
}

.supplements-section h2 {
    font-size: 46px;
    color: #333;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.supplements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.supplement-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.supplement-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.supplement-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.supplement-item:hover img {
    transform: scale(1.05);
}

.supplement-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.supplement-item .price {
    font-size: 20px;
    color: #ff5722;
    margin-bottom: 10px;
    font-weight: bold;
}

.supplement-item .description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.5;
}

.buy-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.buy-now:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
